@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    BSO Mobile Repair Centre<br />
    Nara Devi Kathmandu<br />
    <abbr title="Phone">P:</abbr>
    9818260207
    <br />
    <abbr title="Phone">P:</abbr>
    9841916388
</address>

@*<address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

172242780109182

1418d3cfe6d831895c36c38dec24c53e