@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ribesh Amatya</h1>
    <p class="lead">I am Ribesh Amatya.I studied in  Bijeswori Secondary School. Currently  I am  learning C++.</p>
    <p><a href="https://www.facebook.com/profile.php?id=100006873919055" class="btn btn-primary btn-lg">View &raquo;</a></p>
    <div class="fb-like" data-href="http://ribeshamatya.azurewebsites.net/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></div>
<div class="row">
    <div class="col-md-2">
        <h4>My Dad And Me</h4>
        <p>
            <img src="~/Content/bso1.jpg" height="200" />
        </p>
        <p><a class="btn btn-default" href="https://github.com/edangolgithub/ribeshproject">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h4>My Mom And Me</h4>
        <p><img src="~/Content/momandme.jpg" height="200" /></p>
        <p><a class="btn btn-default" href="https://github.com/edangolgithub/ribeshproject">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>My Best Friends</h4>
        <p><img src="~/Content/frns.jpg" height="200" /></p>
        <p><a class="btn btn-default" href="https://github.com/edangolgithub/ribeshproject">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h4>My Best Friends</h4>
        <p><img src="~/Content/class.jpg" height="200" /></p>
        <p><a class="btn btn-default" href="https://github.com/edangolgithub/ribeshproject">GitHub &raquo;</a></p>
    </div>
</div>